body {background-color: powderblue;}
h1   {color: blue;}
p    {color: red;}
table{border: 1px solid black;}
td   {border: 1px solid black;}
th   {border: 1px solid black;}

                               